$main-color: #101932;
$secondary-color: #384D70;
$text-color: #FFFFFF;
$btn-color: #E11D2E;
$card-y-color: #FF9429;
$card-b-color: #067CCB;

$font: 'Noto Sans Display',
sans-serif;

$breakepoint_xxl: 1024px;
$breakepoint_lg: 992px;
$breakepoint_md: 767px;
$breakepoint_sm: 576px;
$breakepoint_xsm: 400px;